DB_HOST=px_dev_mongo
DB_PORT=27017
DB_COLLECTION=local
DB_USER=root
DB_PASS=root

CLIENT_APP_URL=http://127.0.0.1:3000
SERVER_APP_URL=http://127.0.0.1:4000
WEBSOCKET_URL=http://127.0.0.1:4000
SERVER_PROCESS_PORT=4000
SERVER_PROCESS_HOST=127.0.0.1
API_BASE_PATH=/v1
CLIENT_BASE_PATH=/
CLIENT_ORIGIN=http://127.0.0.1

AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_access_key_secret
AWS_S3_BUCKET=pagexpress-dev
AWS_S3_REGION=eu-central-1
AWS_S3_ROOT_FOLDER=media

PAGEXPRESS_JWT_PRIVATE_KEY=minelittlesecret
